table {
  width: 60%;
  margin: auto;
}

th, td {
  text-align: left;
  padding: 8px;
  text-align: center;
  border: 1px solid #dddddd;

}

img {
  max-width: 40px;
  max-height: 40px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination span.active {
  background-color: blue;
  color: white;
}

.icon-button{
  background-color: black;
  color:white;
  width: 30px;
}

